# See https://wiki.hyprland.org/Configuring/Monitors/
{{- if eq .chezmoi.hostname "B00T" }}
monitor=DP-2, 1920x1080@60, 0x0, 1, bitdepth, 10
monitor=HDMI-A-1, 1920x1080@144, 1920x0, 1, bitdepth, 10
monitor=DP-1, 1920x1080@60, 3840x0, 1, bitdepth, 10
{{- else if eq .chezmoi.hostname "XPS-9510" }}
# Mirror
# monitor=eDP-1,preferred,auto,1,mirror

# Extend
monitor=,preferred,auto,1
{{- end }}

{{- if eq .chezmoi.hostname "B00T" }}
workspace=2, monitor:DP-2
workspace=1, monitor:HDMI-A-1, default:true
workspace=3, monitor:DP-1,3
{{- end }}


# See https://wiki.hyprland.org/Configuring/Keywords/ for more

# Execute apps at launch
# exec-once = waybar & hyprpaper & firefox
exec-once = hyprpm reload -n
exec-once = $HOME/.config/hypr/scripts/firefox-bitwarden-resize.sh
exec-once = hyprpaper
exec-once = sleep 5 && legcord
exec-once = clipse -listen
{{- if eq .chezmoi.hostname "B00T" }}
exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec-once = wlsunset -l 44.837927 -L -0.579294
exec-once = waybar & dex --autostart --environment hyprland
exec-once = hyprctl switchxkblayout corne-keyboard 1; hyprlock; hyprctl switchxkblayout corne-keyboard 0
{{- else if eq .chezmoi.hostname "XPS-9510" }}
exec-once = /usr/libexec/polkit-gnome-authentication-agent-1
exec-once = wlsunset -l 46.813118 -L -71.207469
exec-once = waybar & dex-autostart --autostart --environment hyprland
exec-once = hypridle
exec-once = thunderbird
exec-once = flatpak run com.github.IsmaelMartinez.teams_for_linux
{{- end }}

# Source a file (multi-file configs)
# source = ~/.config/hypr/myColors.conf

# Some default env vars.

{{- if eq .chezmoi.hostname "B00T" }}
env = XCURSOR_SIZE,24
env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
{{- else if eq .chezmoi.hostname "XPS-9510" }}
env = XCURSOR_THEME,XCursor-Pro-Dark
env = XCURSOR_SIZE,34
env = HYPRCURSOR_THEME,XCursor-Pro-Dark-Hyprcursor
env = HYPRCURSOR_SIZE,34
{{- end }}

# For all categories, see https://wiki.hyprland.org/Configuring/Variables/
input {
    kb_layout = us,us
    kb_variant = intl, 
    kb_options = grp:alt_space_toggle

    follow_mouse = 1
	focus_on_close = 1
    {{- if eq .chezmoi.hostname "B00T" }}
    sensitivity = -0.5 # -1.0 - 1.0, 0 means no modification.
    {{- else if eq .chezmoi.hostname "XPS-9510" }}
    sensitivity = 0.1 # -1.0 - 1.0, 0 means no modification.
    {{- end }}

    numlock_by_default = true
    accel_profile = flat

    touchpad {
        natural_scroll = true
    	{{- if eq .chezmoi.hostname "B00T" }}
        disable_while_typing = true
    	{{- else if eq .chezmoi.hostname "XPS-9510" }}
        disable_while_typing = false
    	{{- end }}
        scroll_factor = 0.5
        # middle_button_emulation = true
        tap-to-click = true
    }
}

general {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more

    gaps_in = 0
    gaps_out = 0
    border_size = 4
    col.active_border = rgba(cc2e2eaa)
    col.inactive_border = rgba(595959aa)

    layout = dwindle

    # Please see https://wiki.hyprland.org/Configuring/Tearing/ before you turn this on
    allow_tearing = false
}

decoration {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more

    rounding = 0

    blur {
        enabled = false
        
    }

	shadow {
    	enabled = false
	}
}

animations {
    enabled = true

    # Some default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 7, myBezier
    animation = windowsOut, 1, 7, default, popin 80%
    animation = border, 1, 10, default
    animation = borderangle, 1, 8, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 6, default
}

dwindle {
    # See https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more
    pseudotile = true # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = true # you probably want this
}

master {
    # See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
    new_status = true
}

gestures {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
    workspace_swipe = false
}

misc {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
    force_default_wallpaper = 0 # Set to 0 to disable the anime mascot wallpapers
}

binds {
    workspace_back_and_forth = true
	disable_keybind_grabbing = false
}

# Example per-device config
# See https://wiki.hyprland.org/Configuring/Keywords/#per-device-input-configs for more
device {
    name = epic-mouse-v1
    sensitivity = -0.5
}

device {
    name = apple-inc.-magic-trackpad-2
    sensitivity = 0.5
}

# Example windowrule v1
# windowrule = float, ^(kitty)$
# Example windowrule v2
# windowrulev2 = float,class:^(kitty)$,title:^(kitty)$
# See https://wiki.hyprland.org/Configuring/Window-Rules/ for more
windowrulev2 = noborder,class:^(brave-browser)$
windowrulev2 = noborder,initialTitle:^(Mozilla Firefox)$
windowrulev2 = noborder,class:^(org.qbittorrent.qBittorrent)$
windowrulev2 = fullscreen,class:^(steam_app_284160)$
windowrulev2 = float,class:^(brave-nngceckbapebfimnlniiiahkandclblb-Default)$
windowrulev2 = float,class:^(org.gnome.NautilusPreviewer)$
windowrulev2 = float,class:^(org.gnome.Nautilus)$
windowrulev2 = size 1218 729, class:^(org.gnome.Nautilus)$
windowrulev2 = noborder,class:^(org.gnome.Nautilus)$
windowrulev2 = float,class:^(SAMURAI)$
windowrulev2 = float,class:^(SunChaser)$
windowrulev2 = move onscreen 25% 25% class:^(SunChaser)$
windowrulev2 = size 960 587, class:^(SunChaser)$
windowrulev2 = float, initialTitle:^(Picture-in-Picture)$
windowrulev2 = pin, initialTitle:^(Picture-in-Picture)$
windowrulev2 = size 625 352, initialTitle:^(Picture-in-Picture)$
windowrulev2 = move onscreen 100% 2.45%, initialTitle:^(Picture-in-Picture)$
windowrulev2 = noinitialfocus,title:(Picture-in-Picture),
windowrulev2 = noborder, class:^(Vivaldi-stable)$
windowrulev2 = noborder, class:^(ONLYOFFICE Desktop Editors)$
windowrulev2 = float, class:^(clipse)$
windowrulev2 = size 750 600, class:(clipse)
windowrulev2 = noanim, class:^(flameshot)$
windowrulev2 = float, class:^(flameshot)$
windowrulev2 = move 0 0, class:^(flameshot)$
windowrulev2 = pin, class:^(flameshot)$
windowrulev2 = monitor 0, class:^(flameshot)$
{{- if eq .chezmoi.hostname "B00T" }}
windowrulev2 = monitor DP-2,class:^(vesktop)$
windowrulev2 = noborder,class:^(vesktop)$
windowrulev2 = monitor DP-2,class:^(legcord)$
windowrulev2 = noborder, class:^(legcord)$
{{- else if eq .chezmoi.hostname "XPS-9510" }}
windowrulev2 = workspace 5 silent, class:^(teams-for-linux)$
windowrulev2 = noborder, class:^(teams-for-linux)$
windowrulev2 = workspace 6 silent, class:^(org.mozilla.thunderbird)$
windowrulev2 = noborder, class:^(org.mozilla.thunderbird)$
windowrulev2 = workspace 7 silent, class:^(discord)$
windowrulev2 = noborder, class:^(discord)$
windowrulev2 = workspace 7 silent, class:^(WebCord)$
windowrulev2 = noborder, class:^(WebCord)$
windowrulev2 = workspace 7 silent, class:^(legcord)$
windowrulev2 = noborder, class:^(legcord)$
windowrulev2 = workspace 8, class:^(brave-ejhkdoiecgkmdpomoahkdihbcldkgjci-Default)$
windowrulev2 = noborder, class:^(brave-ejhkdoiecgkmdpomoahkdihbcldkgjci-Default)$
windowrulev2 = tile, class:^(dev.zed.Zed)$
windowrulev2 = noborder, class:^(dev.zed.Zed)$
windowrulev2 = noborder, class:^(zen-beta)$
{{- end }}

# See https://wiki.hyprland.org/Configuring/Keywords/ for more
$mainMod = SUPER

# Example binds, see https://wiki.hyprland.org/Configuring/Binds/ for more
bind = $mainMod, Return, exec, ghostty
bind = $mainMod SHIFT, A, killactive,
bind = CTRL SHIFT, E, exec, $HOME/.config/rofi/powermenu/type-3/powermenu.sh
bind = $mainMod SHIFT, S, exec, XDG_CURRENT_DESKTOP=Sway flameshot gui --raw | wl-copy
bind = CTRL, E, exec, nautilus
bind = $mainMod SHIFT, Space, togglefloating,
bind = $mainMod, D, exec, $HOME/.config/rofi/launchers/type-1/launcher.sh
bind = $mainMod, V, exec, kitty --class clipse -e clipse
# bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, S, togglesplit, # dwindle
bind = $mainMod, F, fullscreen,
bind = $mainMod, L, exec, hyprctl switchxkblayout corne-keyboard 1; hyprlock; hyprctl switchxkblayout corne-keyboard 0
bind = $mainMod, S, pin

# Move focus with mainMod + arrow keys
bind = $mainMod, left, movefocus, l
bind = $mainMod, right, movefocus, r
bind = $mainMod, up, movefocus, u
bind = $mainMod, down, movefocus, d

# Same but with letter keys
bind = $mainMod, H, movefocus, l
bind = $mainMod, M, movefocus, r
bind = $mainMod, J, movefocus, u
bind = $mainMod, K, movefocus, d


# Move window with mainMod + arrow keys
bind = $mainMod SHIFT, left, movewindow, l
bind = $mainMod SHIFT, right, movewindow, r
bind = $mainMod SHIFT, up, movewindow, u
bind = $mainMod SHIFT, down, movewindow, d

# Same but with letter keys
bind = $mainMod SHIFT, H, movewindow, l
bind = $mainMod SHIFT, M, movewindow, r
bind = $mainMod SHIFT, J, movewindow, u
bind = $mainMod SHIFT, K, movewindow, d

# Switch workspaces with mainMod + [0-9]
bind = $mainMod, q, workspace, 1
bind = $mainMod, w, workspace, 2
bind = $mainMod, e, workspace, 3
bind = $mainMod, r, workspace, 4
bind = $mainMod, t, workspace, 5
bind = $mainMod, y, workspace, 6
bind = $mainMod, u, workspace, 7
bind = $mainMod, i, workspace, 8
bind = $mainMod, o, workspace, 9
bind = $mainMod, p, workspace, 10

# Move active window to a workspace with mainMod + SHIFT + [0-9]
bind = $mainMod SHIFT, q, movetoworkspace, 1
bind = $mainMod SHIFT, w, movetoworkspace, 2
bind = $mainMod SHIFT, e, movetoworkspace, 3
bind = $mainMod SHIFT, r, movetoworkspace, 4
bind = $mainMod SHIFT, t, movetoworkspace, 5
bind = $mainMod SHIFT, y, movetoworkspace, 6
bind = $mainMod SHIFT, u, movetoworkspace, 7
bind = $mainMod SHIFT, i, movetoworkspace, 8
bind = $mainMod SHIFT, o, movetoworkspace, 9
bind = $mainMod SHIFT, p, movetoworkspace, 10

# Media keys
bind = ,XF86AudioRaiseVolume, exec, pactl set-sink-volume @DEFAULT_SINK@ +10%
bind = ,XF86AudioLowerVolume, exec, pactl set-sink-volume @DEFAULT_SINK@ -10%
bind = ,XF86AudioMute, exec, pactl set-sink-mute @DEFAULT_SINK@ toggle
bind = ,XF86AudioMicMute, exec, pactl set-source-mute @DEFAULT_SOURCE@ toggle

bind = ,XF86AudioPlay, exec, playerctl play-pause
bind = ,XF86AudioNext, exec, playerctl next
bind = ,XF86AudioPrev, exec, playerctl previous

{{- if eq .chezmoi.hostname "XPS-9510" }}
# Brightness control
bind = ,XF86MonBrightnessUp,exec, light -A 5
bind = ,XF86MonBrightnessDown, exec, light -U 5
{{- end }}


# Example special workspace (scratchpad)
# bind = $mainMod, S, togglespecialworkspace, magic
# bind = $mainMod SHIFT, S, movetoworkspace, special:magic

# Scroll through existing workspaces with mainMod + scroll
bind = $mainMod, mouse_down, workspace, e+1
bind = $mainMod, mouse_up, workspace, e-1

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# Resize submap
bind=CTRL SHIFT, R,submap,resize
submap=resize

binde=,right,resizeactive,10 0
binde=,left,resizeactive,-10 0
binde=,up,resizeactive,0 -10
binde=,down,resizeactive,0 10

binde=,M,resizeactive,10 0
binde=,H,resizeactive,-10 0
binde=,K,resizeactive,0 -10
binde=,J,resizeactive,0 10

bind =, Escape, submap, reset
submap=reset

plugin {
    hyprexpo {
        columns = 3
        gap_size = 0
        bg_col = rgb(111111)
        workspace_method = first 1 # [center/first] [workspace] e.g. first 1 or center m+1

        enable_gesture = true # laptop touchpad, 4 fingers
        gesture_distance = 100 # how far is the "max"
        gesture_positive = true # positive = swipe down. Negative = swipe up.
    }
    dynamic-cursors {
		# enables the plugin
		enabled = true

		# sets the cursor behaviour, supports these values:
		# tilt    - tilt the cursor based on x-velocity
		# rotate  - rotate the cursor based on movement direction
		# stretch - stretch the cursor shape based on direction and velocity
		# none    - do not change the cursors behaviour
		mode = stretch

		# minimum angle difference in degrees after which the shape is changed
		# smaller values are smoother, but more expensive for hw cursors
		threshold = 2

		# override the mode behaviour per shape
		# this is a keyword and can be repeated many times
		# by default, there are no rules added
		# see the dedicated `shape rules` section below!
		# shaperule = <shape-name>, <mode> (optional), <property>: <value>, ...
		# shaperule = <shape-name>, <mode> (optional), <property>: <value>, ...

		# for mode = rotate
		rotate {

			# length in px of the simulated stick used to rotate the cursor
			# most realistic if this is your actual cursor size
			length = 20

			# clockwise offset applied to the angle in degrees
			# this will apply to ALL shapes
			offset = 0.0
		}

		# for mode = tilt
		tilt {

			# controls how powerful the tilt is, the lower, the more power
			# this value controls at which speed (px/s) the full tilt is reached
			limit = 5000

			# relationship between speed and tilt, supports these values:
			# linear             - a linear function is used
			# quadratic          - a quadratic function is used (most realistic to actual air drag)
			# negative_quadratic - negative version of the quadratic one, feels more aggressive
			function = negative_quadratic
		}

		# for mode = stretch
		stretch {

			# controls how much the cursor is stretched
			# this value controls at which speed (px/s) the full stretch is reached
			limit = 3000

			# relationship between speed and stretch amount, supports these values:
			# linear             - a linear function is used
			# quadratic          - a quadratic function is used
			# negative_quadratic - negative version of the quadratic one, feels more aggressive
			function = quadratic
		}

		# configure shake to find
		# magnifies the cursor if its is being shaken
		shake {

			# enables shake to find
			enabled = true

			# use nearest-neighbour (pixelated) scaling when shaking
			# may look weird when effects are enabled
			nearest = true

			# controls how soon a shake is detected
			# lower values mean sooner
			threshold = 5.0

			# magnification level immediately after shake start
			base = 4.0
			# magnification increase per second when continuing to shake
			speed = 4.0
			# how much the speed is influenced by the current shake intensitiy
			influence = 0.0

			# maximal magnification the cursor can reach
			# values below 1 disable the limit (e.g. 0)
			limit = 0.0

			# time in millseconds the cursor will stay magnified after a shake has ended
			timeout = 2000

			# show cursor behaviour `tilt`, `rotate`, etc. while shaking
			effects = false

			# enable ipc events for shake
			# see the `ipc` section below
			ipc = false
		}
		
		# use hyprcursor to get a higher resolution texture when the cursor is magnified
		# see the `hyprcursor` section below
		hyprcursor {

			# use nearest-neighbour (pixelated) scaling when magnifing beyond texture size
			# this will also have effect without hyprcursor support being enabled
			# 0 / false - never use pixelated scaling
			# 1 / true  - use pixelated when no highres image
			# 2         - always use pixleated scaling
			nearest = true

			# enable dedicated hyprcursor support
			enabled = true

			# resolution in pixels to load the magnified shapes at
			# be warned that loading a very high-resolution image will take a long time and might impact memory consumption
			# -1 means we use [normal cursor size] * [shake:base option]
			resolution = -1

			# shape to use when clientside cursors are being magnified
			# see the shape-name property of shape rules for possible names
			# specifying clientside will use the actual shape, but will be pixelated
			fallback = clientside
		}
	}
}
