{
    "layer": "top",
    "height": 25,
    "spacing": 4, // Gaps between modules (4px)
    "modules-left": ["hyprland/workspaces"],
    {{- if eq .chezmoi.hostname "B00T" }}
    "modules-right": ["cpu", "custom/separator", "memory", "custom/separator", "temperature", "custom/separator", "custom/kernel", "custom/separator", "network", "custom/separator", "pulseaudio", "custom/separator", "clock#clock2", "custom/separator", "clock", "tray"],
    {{- else if eq .chezmoi.hostname "XPS-9510" }}
    "modules-right": ["cpu", "custom/separator", "memory", "custom/separator", "temperature", "custom/separator", "battery", "custom/separator", "custom/kernel", "custom/separator", "network", "custom/separator", "pulseaudio", "custom/separator", "custom/keyboard", "custom/separator", "clock#clock2", "custom/separator", "clock", "tray"],
    {{- end }}
    // Modules configuration
    "custom/separator": {
        "format": "|",
        "interval": "once",
        "tooltip": false
    },
    "hyprland/workspaces": {
        "format": "{icon}",
        "on-scroll-up": "hyprctl dispatch workspace e+1",
        "on-scroll-down": "hyprctl dispatch workspace e-1",
        "all-outputs": true,
    },
    "cpu": {
        "format": "CPU {usage}%",
        "interval": 1,
    },
    "memory": {
        "format": "RAM {}%",
		"states": {
            "warning": 90,
            "critical": 95
        },
        "interval": 1,
    },
    "temperature": {
        {{- if eq .chezmoi.hostname "B00T" }}
        "hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input",
        {{- else if eq .chezmoi.hostname "XPS-9510" }}
        "hwmon-path": "/sys/class/hwmon/hwmon8/temp1_input",
        // "hwmon-path": "/sys/class/hwmon/hwmon9/temp1_input",
        {{- end }}
        "interval": 5,
        "format": "󰏈  {temperatureC}°C",
        "on-click": "~/.config/polybar/scripts/temp.sh",
    },
    "battery": {
        "bat": "BAT0",
        "interval": 60,
        "states": {
            "warning": 30,
            "critical": 10
        },
        "format": "{icon}  {capacity}%",
        "format-icons": ["", "", "", "", ""],
    },
    "custom/kernel": {
        "exec": "uname -r | cut -d '-' -f1; awk '{printf \"%02d:%02d:%02d\", int($1/3600), int(($1%3600)/60), int($1%60)}' /proc/uptime",
        "interval": 1,
        {{- if eq .chezmoi.hostname "B00T" }}
        "format": "   {} ",
        {{- else if eq .chezmoi.hostname "XPS-9510" }}
        "format": "   {} ",
        {{- end }}
    },
    "network": {
        "format-wifi": "󰖩  {essid}",
        "format-ethernet": "󰌗  {ipaddr}",
        "format-disconnected": "No connection",
        "tooltip-format-wifi": "{essid} ({signalStrength}%)",
        "tooltip-format-ethernet": "{ifname}",
        "tooltip-format-disconnected": "Disconnected",
    },
    "pulseaudio": {
        "scroll-step": 5,
        "format": "󰕾  {volume}%",
        "format-muted": "󰖁  {volume}%",
        "on-click": "amixer set Master toggle",
        "on-click-right": "pwvucontrol",
    }, 
    {{- if eq .chezmoi.hostname "XPS-9510" }}
	"custom/keyboard": {
		"format": "{icon}",
		"format-icons": {
			"true": " 󰌌 ",
			"false": " 󰌐 ",
		},
		"return-type": "json",
		"interval": 1,
    	"exec": "echo \"{\\\"alt\\\":\\\"$(cat ${XDG_RUNTIME_DIR:-/run/user/$(id -u)}/keyboard.status 2>/dev/null || echo true)\\\"}\"",
		"on-click": "~/.config/polybar/scripts/toggle_keyboard.sh",
		"tooltip": true,
		"tooltip-format": "Laptop keyboard: {alt}"
	},
	{{- end }}
	"clock#clock2": {"tooltip-format": "<tt><small>{calendar}</small></tt>",
        "format": "󰃭  {:%d/%m/%Y}",
        "on-click": "notify-send 'Calendar' \"\\n$(cal -m)\"",
        "tooltip-format": "{calendar}",
        "calendar": {
        	"format": {
            	"today": "<span color='#CC2E2E'><b><u>{}</u></b></span>"
            }
        },
    },
    "clock": {
        "interval": 1,
        "format": "󱑎  {:%H:%M:%S}",
    },
    "tray": {
        "spacing": 5
    }
}
