{
    "layer": "top",
    {{- if eq .chezmoi.hostname "B00T" }}
    "output": "HDMI-A-1",
    {{- end }}
    "height": 20,
    "spacing": 4, // Gaps between modules (4px)
    "modules-left": ["hyprland/workspaces"],
    "modules-right": ["cpu", "custom/separator", "memory", "custom/separator", "temperature", "custom/separator", "custom/kernel", "custom/separator", "network", "custom/separator", "pulseaudio", "custom/separator", "clock#clock2", "custom/separator", "clock", "tray"],
    // Modules configuration
    "custom/separator": {
        "format": "|",
        "interval": "once",
        "tooltip": false
    },
    "hyprland/workspaces": {
        "format": "{icon}",
        "on-scroll-up": "hyprctl dispatch workspace e+1",
        "on-scroll-down": "hyprctl dispatch workspace e-1",
        "all-outputs": true,
    },
    "cpu": {
        "format": "CPU  {usage}%",
        "interval": 1,
    },
    "memory": {
        "format": "RAM  {}%",
        "interval": 1,
    },
    "temperature": {
        {{- if eq .chezmoi.hostname "B00T" }}
        "hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input",
        {{- else if eq .chezmoi.hostname "XPS-9510" }}
        "hwmon-path": "/sys/devices/platform/coretemp.0/hwmon/hwmon7/temp1_input",
        {{- end }}
        "interval": 5,
        "format": "󰏈    {temperatureC}°C",
        "on-click": "~/.config/polybar/scripts/temp.sh"
    },
    "custom/kernel": {
        "exec": "uname -r",
        "interval": "once",
        "format": "    {} ",
    },
    "network": {
        "format-wifi": "󰖩  {essid}",
        "format-ethernet": "󰌗  {ipaddr}",
        "format-disconnected": "No connection",
        "tooltip-format-wifi": "{essid} ({signalStrength}%)",
        "tooltip-format-ethernet": "{ifname}",
        "tooltip-format-disconnected": "Disconnected",
    },
    "pulseaudio": {
        "scroll-step": 5,
        "format": "󰕾  {volume}%",
        "format-muted": "󰖁  {volume}%",
        "on-click": "amixer set Master toggle",
        "on-click-right": "pavucontrol",
    },
    "clock#clock2": {"tooltip-format": "<tt><small>{calendar}</small></tt>",
        "format": "󰃭  {:%d/%m/%Y}",
        "on-click": "notify-send 'Calendar' \"\\n$(cal)\"",
        "tooltip-format": "{calendar}",
        "calendar": {
                    "format": {
                              "today":      "<span color='#CC2E2E'><b><u>{}</u></b></span>"
                              }
                    },
    },
    "clock": {
        "interval": 1,
        "format": "󱑎  {:%H:%M:%S}",
    },
    "tray": {
        "spacing": 5
    }
}

