;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #000000
background-alt = #373B41
foreground = #FFFFFF
primary = #F0C674
secondary = #8ABEB7
alert = #A54242
disabled = #707880

[bar/mybar]
width = 100%
height = 20pt
radius = 0

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt
border-size = 0pt

padding-left = 0
padding-right = 1

module-margin = 1

separator = |
separator-foreground = #FFFFFF

font-0 = JetBrainsMono Nerd Font:style=Regular:size=10;0

modules-left = xworkspaces xwindow
modules-right = cpu memory temperature battery kernel eth wlan pulseaudio date time
cursor-click = pointer

enable-ipc = true
tray-position = right

[module/xworkspaces]
type = internal/xworkspaces

label-active = %name%
label-active-background = #262626
label-active-underline= ${colors.foreground}
label-active-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.disabled}
label-empty-padding = 1

[module/xwindow]
type = internal/xwindow
label = %title:0:60:...%

[module/cpu]
type = internal/cpu
interval = 1
format-prefix-foreground = ${colors.foreground}
label = CPU %percentage%%

[module/memory]
type = internal/memory
interval = 1
format-prefix-foreground = ${colors.foreground}
label = RAM %percentage_used%%

[module/temperature]
type = custom/script
interval = 5
exec = {{- if eq .chezmoi.hostname "B00T" }} echo "$(sensors | grep 'Tctl:' | awk '{sub(/\+/,"",$2); print $2}')" {{- else if eq .chezmoi.hostname "XPS-9510" }} echo "$(sensors | grep 'CPU:' | awk '{sub(/\+/,"",$2); print $2}')" {{- end }}
click-left = $HOME/.config/polybar/scripts/temp.sh


label = 󰏈  %output%
label-foreground = ${colors.foreground}

{{- if eq .chezmoi.hostname "XPS-9510" }}
[module/battery]
type = internal/battery

full-at = 100
low-at = 5

battery = BAT0
adapter = ADP1

poll-interval = 5

format-charging = <animation-charging>  <label-charging>
format-discharging = <ramp-capacity>  <label-discharging>
format-full = <ramp-capacity> <label-full>
format-low = <label-low> <animation-low>

label-charging = %percentage%%
label-discharging = %percentage%%
label-full = Fully charged
label-low = BATTERY LOW

; Only applies if <ramp-capacity> is used
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 

; Framerate in milliseconds
animation-charging-framerate = 750
{{- end }}

[module/kernel]
type = custom/script
exec = uname -r
tail = true
interval = 1024
format = {{- if eq .chezmoi.hostname "B00T" }}{{ .arch_logo }} <label>{{- else if eq .chezmoi.hostname "XPS-9510" }}{{ .fedora_logo }} <label>{{- end}}
  
[network-base]
type = internal/network
interval = 5
format-connected = <label-connected>
format-disconnected = <label-disconnected>
label-disconnected = %{F#F0C674}%ifname%%{F#707880} disconnected

[wifi]
type = internal/network
interval = 5
format-connected = <label-connected>
format-disconnected = <label-disconnected>
label-disconnected =

[module/wlan]
inherit = wifi
interface = {{- if eq .chezmoi.hostname "B00T" }} wlp4s0 {{- else if eq .chezmoi.hostname "XPS-9510"}} wlp0s20f3 {{- end}}
label-connected = 󰖩 %essid%

[module/eth]
inherit = network-base
interface-type = wired
label-connected = 󰌗 %local_ip%

[module/pulseaudio]
type = internal/pulseaudio

format-volume-prefix-foreground = ${colors.foreground}
format-volume = <label-volume>

label-volume = 󰕾 %percentage%%
label-muted = 󰖁 %percentage%%
label-muted-foreground = ${colors.foreground}

click-right = pavucontrol

[module/date]
type = custom/script
exec = echo "$(date '+%d/%m/%y')"
click-left = notify-send "Calendrier" "\n$(cal)"

label = 󰃭 %output%
label-foreground = ${colors.foreground}

[module/time]
type = internal/date
interval = 1
date = %H:%M:%S

label = 󱑎 %date%
label-foreground = ${colors.foreground}

[settings]
screenchange-reload = true
